:root {
    --cyan-process: #30bcedff;
    --blue-ncs: #4087a9ff;
    --independence: #4f5165ff;
    --dark-liver: #474044ff;
    --charleston-green: #293132ff;
    --chocolate-web: #d96c06ff;
    --carrot-orange: #f18f01ff;
    --wheat: #ead2acff;
    --papaya-whip: #ffefd3ff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: var(--papaya-whip);
    font-family: 'Varela Round', 'sans-serif';
}

body {
    background-color: var(--charleston-green);
}

.container {
    margin: 30px;
    height: 100vh;
    background-color: var(--charleston-green);
}

.body, .menu-list li a {
    color: var(--papaya-whip)
}

aside {
  padding: 15px;
}


.title, .menu-label {
  color: var(--cyan-process);
  font-family: 'Pacifico', 'cursive';
}

.title {
    font-size: 40px;
}

.subtitle {
  font-family: 'Pacifico', 'cursive';
}



.content h2 {
    color: var(--cyan-process);

}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.postContent {
    color: var(--charleston-green);
}
